<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blackjack</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/blackjackstyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class = "blackjack-gradient-background">
    <div class = "container">
        <%- include("partials/header.ejs") %>
        <div>
          <h1>
            Blackjack
          </h1>
          <h2>
            Play some blackjack below.
          </h2>
        </div>
        <div class = "blackjack-container">
          <%if (!locals.dealer) {%>
            <a class = "btn" href = "/blackjack/play">Play</a>
          <% }else{ %>
            <h2>Dealer</h2>
          <div class = "all-hands">
            <% dealer.forEach((hand)=>{  %>
              <div class = "hand">
            <%if(hand.handState==0){%>
              <% if(!(hand.cards.length == 0)){ %>
                <div class = "cards">
                <img src = "<%=hand.cards[0].image %>" class = "card"/>
                <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/>
                </div>
                <h2 class = "game-text"><%= hand.totalValuesString %></h2>

              <% } %>
              
            <%  %>
            <%}else if(hand.handState==1){%>
              <% if(!hand.cards.length == 0){ %>
                <div class = "cards">
                  <% hand.cards.forEach((card)=>{ %>
                    <img src = "<%= card.image %>" class = "card"/>              
                  <%}) %>
                </div>
                <h2 class = "game-text"><%= hand.totalValuesString %></h2>
                <% if(hand.bust){ %>
                  <h2 class = "game-text">BUST</h2>
                <%}%>

              <% } %>
            <% } %>
            <% }) %>
          </div>
        </div>
          <h2>Player</h2>
          <h2 class = "game-text">Money: <%= money %></h2>
          <div class = "all-hands">
            <% player.forEach((hand)=>{ %>
            <div class = "hand">
            <%if(hand.handState==0){%>
              
              
            <%}else if(hand.handState==1){%>
              <div class = "cards">
              <% hand.cards.forEach((card)=>{ %>
              <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              </div>
              <h2 class = "game-text"><%= hand.totalValuesString %></h2>
              <% console.log(hand.totalValuesString) %>
              <div class = "buttons">
              <% if(activeHand==hand.id){ %>
                <!-- We need active hand so we can keep track of place in javascript file -->
                <a class = "btn" href = "/blackjack/play/hit">Hit</a>
                <a class = "btn" href = "/blackjack/play/stand">Stand</a>
              <% } %>
              </div>
            <% } else if(hand.handState==2){ %>
              <div class = "cards">
              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              </div>
              <h2 class = "game-text"><%= hand.totalValuesString %></h2>
              <% if(hand.bust){ %>
                <h2 class = "game-text">BUST</h2>
              <%}%>
            <% }else if(hand.handState==3){ %>
              <div class = "cards">

              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              </div>
              <h2 class = "game-text"><%= hand.totalValuesString %></h2>
              <% if(hand.bust){ %>
                <h2 class = "game-text">BUST</h2>
              <%}%>
            <% }else {%>
              <div class = "cards">

              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              </div>
              <h2 class = "game-text"><%= hand.totalValuesString %></h2>
              <% if(hand.bust){ %>
                <h2 class = "game-text">BUST</h2>
              <%}else{  %>
              <% if(hand.win == 0){ %>
                <h2 class = "game-text">LOSE</h2>
              <% }else if(hand.win ==1){ %>
                <h2 class = "game-text">WIN</h2>

              <% }else{ %>
                <h2 class = "game-text">PUSH</h2>
              <% } %>
              <% } %>
              
            <% } %>
          </div>
          
            
            <!-- <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/>
            <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/> -->
          <%}) %>
        </div>
          <% if(gameState==0){ %>
            

            
            <form class = "dimensions-container" action="/blackjack/play/shuffle" method="POST">
              <label for="hands" >Select Amount of Hands:</label>
              <select name="hands" id="hands">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <input type="submit" value="Submit">
            </form>
          <%}else if(gameState == 1){ %>
            <form class = "dimensions-container" action="/blackjack/play/deal" method="POST">
              <label for="hands" >Bet:</label>
              <% player.forEach((hand)=>{ %>
              <select name="<%= hand.betId %>" id="hands" placeholder="100">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
              <% }) %>
              <input type="submit" value="Submit">
            </form>
            <a class = "btn" href = "/blackjack/play/resetMoney">Reset Money</a>

          <% }else if(gameState == 2){ %>
            
          <% }else if(gameState == 3){ %>
            <a class = "btn" href = "/blackjack/play/dealer">Play Dealer</a>
          <% }else if(gameState ==4){ %>
            <a class = "btn" href = "/blackjack/play/reset">Deal New Hand</a>
          <% } %>
          <% } %>
    </div>
         
        
          
          
          
          
    </div>


</body>
<footer>
  <%- include("partials/footer.ejs") %>
</footer>
</html>