<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blackjack</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/blackjackstyles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class = "blackjack-gradient-background">
    <div class = "container">
        <%- include("partials/header.ejs") %>
        <div>
          <h1>
            Blackjack
          </h1>
          <h2>
            Play some blackjack below.
          </h2>
        </div>
        <div class = "blackjack-container">
          <%if (!locals.dealer) {%>
            <a class = "btn" href = "/blackjack/play">Play</a>
          <% }else{ %>
            <h3>Dealer</h3>
          <div class = "cards">
            <% dealer.forEach((hand)=>{  %>
            <%if(hand.handState==0){%>
              <% if(!(hand.cards.length == 0)){ %>
                <img src = "<%=hand.cards[0].image %>" class = "card"/>
                <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/>
              <% } %>
              
            <%  %>
            <%}else if(hand.handState==1){%>
              <% if(!hand.cards.length == 0){ %>
                <img src = "<%= hand.cards[0].image %>" class = "card"/>
                <img src = "<%= dealer.cards[1].image %>" class = "card"/>
              <% } %>
            <% } %>
            <% }) %>
          </div>
          <h3>Player</h3>
          <div class = "cards">
            <% player.forEach((hand)=>{ %>
            <%if(hand.handState==0){%>
              
              
            <%}else if(hand.handState==1){%>

              <% hand.cards.forEach((card)=>{ %>
              <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              <% if(activeHand==hand.id){ %>
                <!-- We need active hand so we can keep track of place in javascript file -->
                <a class = "btn" href = "/blackjack/play/hit">Hit</a>
                <a class = "btn" href = "/blackjack/play/stand">Stand</a>
              <% } %>
            <% } else if(hand.handState==2){ %>
              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
            <% }else if(hand.handState==3){ %>
              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>

            <% }else {%>
              <% hand.cards.forEach((card)=>{ %>
                <img src = "<%= card.image %>" class = "card"/>              
              <%}) %>
              <h2><%= hand.win %></h2>
            <% } %>
            
            <!-- <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/>
            <img src="https://deckofcardsapi.com/static/img/back.png" class = "card"/> -->
          <%}) %>
          <% if(gameState == 1){ %>
            <form class = "dimensions-container" action="/blackjack/play/deal" method="POST">
              <% player.forEach((hand)=>{ %>
              <input type = "text" name="<%= hand.betId %>" value = "" placeholder="Bet">
              <% }) %>
              <input type="submit" value="Submit">
            </form>
          <% } %>
          </div>
          <!-- add statement for betting which returns propper names using hand ids-->
          <form class = "dimensions-container" action="/blackjack/play/shuffle" method="POST">
            
            <input type = "text" name = "hands" value = "" placeholder="Hand Count">
            <input type="submit" value="Submit">
          </form>
          
          <form class = "dimensions-container" action="/blackjack/play/deal" method="POST">
            <input type = "text" name="bet" value = "" placeholder="Bet">
            <input type="submit" value="Submit">
          
          </form>
          
          
          <% } %>
          

        </div>

    </div>
</body>
<footer>
  <%- include("partials/footer.ejs") %>
</footer>
</html>